<article class="artworklist">
	<h1>Artwork on display</h1>
	<p>While you attend the conference, head over to our gallery where you can check out some of the work from our speakers.</p>
	<div class="pixgrid">
		<% if(artworks.length > 0) { %>
			<% for(var i= 0; i< artworks.length; i++) {%>
				<img src="/images/artwork/<%= artworks[i] %>" alt="Artwork <%= i %>">
			<% } %>
		<% } %>
	</div>
</article>